@charset "UTF-8";





/*En commun */
body {
  margin-top: 50px;
  background-color: #fcf9f4;
  font-size: 1.6rem;
}
.center {
  display: flex;
  justify-content: center;
}
.fa-pagelines {
  color: #475a51;
}
h1 {
  font-size: 4rem;
  font-weight: bold;
  font-family: "Lobster", cursive;
  color: #475a51;
}
h2 {
  padding-top: 20px;
  color: #475a51;
  font-weight: bold;
  font-family: "Lobster", cursive;
}
h3 {
  font-size: 2rem;
  font-family: "Indie Flower", cursive;
}
h4 {
  text-align: center;
  margin-left: 40px;
  font-size: 2.3rem;
  color: #656e68;
  font-family: "Lobster", cursive;
}
h5 {
  font-weight: bold;
  color: #475a51;
  margin-top: 30px;
  margin-left: 10px;
}





.underline-titre {
  height: 2px;
  width: 10vw;
  border-radius: 2px;
  margin-top: 20px;
  background-color: #859189;
  margin-bottom: 30px;
}
.underline-titre-center {
  height: 2px;
  width: 10vw;
  border-radius: 2px;
  margin-top: 20px;
  background-color: #859189;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}
a {
  color: black;
}





article {
  padding: 0 0;
}

.article {
  border: #796742 solid 1px;
  border-radius: 10px;
  background-color: #ccbdaa;

  padding-bottom:0px;
  margin-bottom:30px;
}

.article img {
    width:80%;
    margin-top:25px;

    border-radius: 10px;
    border: #803962 solid 1px;
}













/* Navigation */
.navbar-brand {
  font-family: "Yellowtail", cursive;
  font-size: 3rem;
  margin-left: 10px;
  color: #332206;
}
.navbar .icon-bar {
  background-color: white;
}
.navbar-color {
  background-color: rgba(117, 155, 68, 0.945);
}








  /* Présentation */
main .img-banniere {
  background-image: url(../img/fonds2.jpg);
  width: 100%;
}
main #presentation {
  padding-top: 80px;
  margin: 0px 0 0px 0;
  padding-bottom: 20px;
}
main #presentation p {
  color: white;
  font-size: 1.7rem;
  margin-left: 5vw;
  margin-right: 5vw;
}
main .parallax {
  background-attachment: fixed;
}
main .presentation-image {
  margin-top: 3vh;
}
main .presentation-image p {
  font-size: 2rem;
}
main .presentation-image .small {
  height: 40px;
  margin-top: 40px;
}







main .underline-center {
  height: 2px;
  width: 50px;
  margin-bottom: 30px;
  border-radius: 2px;
  background-color: #859189;
  margin-left: auto;
  margin-right: auto;
}
main .underline {
  height: 2px;
  width: 50px;
  margin-bottom: 30px;
  border-radius: 2px;
  background-color: #859189;
  margin-left: 20px;
}

.container{
  width:100%;
}




#actualite{
  background-color: rgba(187, 141, 80, 0.329);

  padding: 10px 20px;
  border-radius: 20px;
}






main #ptsdevente {
  background-color: #fcf9f4;
  padding-bottom: 30px;
}
main #ptsdevente ul {
  list-style: none;
  text-align: center;
}
main #ptsdevente li {
  color: #859189;
  font-family: "Indie Flower", cursive;
  font-size: 2rem;
}
main #ptsdevente .bold {
  font-weight: bold;
}
main #ptsdevente .contact1 {
  padding-right: auto;
  padding-left: auto;
}





main #ptsderetrait {
  background-color: #fcf9f4;
  padding-bottom: 30px;
}
main #ptsderetrait ul {
  list-style: none;
  text-align: center;
}
main #ptsderetrait li {
  color: #859189;
  font-family: "Indie Flower", cursive;
  font-size: 2rem;
}
main #ptsderetrait .bold {
  font-weight: bold;
}
main #ptsderetrait .contact1 {
  padding-right: auto;
  padding-left: auto;
}





main .contact {
  margin-bottom: 50px;
  padding-right: 40px;
}





/* Footer */
footer {
  background-color: #dacec2;
  padding: 20px;
}
footer ul, footer p {
  list-style: none;
  padding-left: 10px;
  color: #656e68;
}
footer .mention {
  text-align: center;
  font-size: 1.2rem;
}
footer .social {
  padding-left: 10px;
  padding-right: 10px;
}
footer form {
  margin-left: 5px;
}
footer a {
  color: #656e68;
}






@media screen and (max-width: 767px) {
  .navbar {
    background-color: rgba(117, 155, 68, 0.945);
  }
}
@media screen and (max-width: 540px) {
  h1 {
    font-size: 3rem;
  }

  h4 {
    font-size: 3rem;
  }

  #presentation p {
    font-size: 1.4rem !important;
  }

  article {
    width: 100% !important;
  }

  section img {
    height: 150px !important;
    width: 150px !important;
  }

  footer {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
