
/*En commun */

body{
    background-color:#fcf9f4;
}
.center{
    display: flex;
    justify-content: center;
}

h1{
    font-size: 4rem;
}
h2{
    padding-top:20px;
    color:#475a51;
    font-weight: bold;
    text-align: center;
}
h3{
    font-size: 1.5rem;
}
h4{
    text-align: center;
    margin-left:40px;
    font-size:2.3rem;
    color: #656e68;
}
h5{
    font-weight: bold;
    color:#475a51;
}
.underline-titre{
    height:2px;
    width:10vw;
    border-radius: 2px;
    margin-top:20px;
    background-color: #859189;
    margin-bottom:30px;

    margin-right:auto;
    margin-left:auto;
}
main a{
    color:black;
}
.inline{
    display: flex;
    justify-content: space-around;
    margin-left:2vw;
    margin-right:2vw;
}








/* Navigation */
.navbar .icon-bar{
    background-color: white;
}

/* Présentation */
.img-banniere{
    background-image: url(../img/fonds2.jpg);
}


main{
    section img{
        height:180px;
        width: 180px;
    }  

    #presentation{
        padding-top:80px;
        margin:0px -15px 0px -15px; 
        padding-bottom:20px;
    }

    .presentation-image{
        margin-top:3vh;

        p{
            font-size:2rem;
        }    
        .small{
            height:40px;
            margin-top:40px;
        }
    }
    
    .underline{
        height:2px;
        width:50px;
        margin-bottom:30px;
        border-radius: 2px;
        background-color: #859189;
        margin-left:auto;
        margin-right:auto;
    }

    .parallax{
        background-attachment:fixed
    }

    #laselection{
        background-color:#dacec2;

        margin: 0 -15px 20px -15px;
        padding-bottom:10px;

        article{
            padding:0 0;
        }
        .article{
            border:rgb(121, 103, 66) solid 1px;
            border-radius: 10px;
            background-color: rgb(204, 189, 170);

            margin:0px 20px 40px 20px;
            padding:0 10px 10px 10px;
            img{
                margin-top:20px;
                border-radius: 10px;
                border:rgb(128, 103, 57) solid 1px;
            }
        }

        button{
            width:60%;
        }
    }

    #ptsdevente{
        background-color:#fcf9f4;
        padding-bottom: 30px;
        ul{
            list-style: none;
            text-align: center;
        }
        li{
            color: #859189;
        }
        .bold{
            font-weight: bold;
        }
        
    }

    #populaire{
        background-color:#dacec2;
        border-radius: 10px;
    }

    #prochainement{
        background-color:#fcf9f4;
    }
}




footer{
    background-color: #dacec2;
    margin:20px -15px 0 -15px;   
    ul, p{
        list-style: none;
        padding-left:20px;
        color:#656e68;
    }
    
    a{
        color:#656e68;
    }
    .mention{
        text-align: center;
        font-size:1rem;
    }
}



@media screen and (max-width:767px){
    .navbar{ 
        background-color: #222222;
    }
}