/*En commun */
body{
    background-color:#fcf9f4;
}
.center{
    display: flex;
    justify-content: center;
}
h1{
    font-size: 4rem;
}
h2{
    margin-left:20px;
    padding-top:20px;
    color:#475a51;
    font-weight: bold;
    text-align: center;
}
h3{
    font-size: 1.5rem;
}
h4{
    text-align: center;
    margin-left:40px;
    font-size:2.3rem;
    color: #656e68;
}
h5{
    font-weight: bold;
}
.underline{
    height:2px;
    width:10vw;
    border-radius: 2px;
    margin-top:20px;
    background-color: #859189;
    margin-left:44vw;
    margin-bottom:30px;
}

main a{
    color:black;
}

.inline{
    display: flex;
    justify-content: space-between;
}


/* Navigation */
.navbar .icon-bar{
    background-color: white;
}

/* Présentation */
.img-banniere{
    background-color:#fcf9f4;   
}
#presentation{
    padding-top:80px;
    .presentation-image{
        display:flex;
        flex-wrap: wrap;
    }
    .parallax{
        background-attachment:fixed
    }
}

main{
    img{
        width:200px;
        height:200px;
        border-radius: 10px;
    }  
    #laselection{
        background-color:#dacec2;
        border-radius: 10px;
    }
    #ptsdevente{
        background-color:#fcf9f4;
        padding-bottom: 30px;
        ul{
            list-style: none;
            text-align: center;
        }
        li{
            color: #859189;
        }
        .bold{
            font-weight: bold;
        }
        h2{
            margin-left:50px;
        }
    }
    #populaire{
        background-color:#dacec2;
        border-radius: 10px;
    }
    #prochainement{
        background-color:#fcf9f4;
    }
}




footer{
    background-color: #dacec2;
    margin:20px -15px 0 -15px;   
    ul, p{
        list-style: none;
        padding-left:20px;
    }
}



@media screen and (max-width:767px){
    .navbar{ 
        background-color: #222222;
    }
}